<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>VPK PRO Payment Site</title>
    <link rel="stylesheet" href="../public/css/success.css">
  </head>
  <body>
    <div>
      <h1>Thank you for your purchase.</h1>
      <p>You've bought an access to stream for the next game.</p>
      <p>We will email you the details on how to watch the match.
         If you have any questions contact us at support@support.com</p>
       <p id="link_redirect"><a href="stream.stream">Go to stream ►</a></p>
    </div>
  </body>
</html>